{% extends "./base.html" %}
{% block title %}{{ task.name }} - 詳細{% endblock %}
{% block content %}
<div class="container">
    <h2 class="display-2"> {{ task.name }}</h2>
    <div>
        <a href='{% url "task:index" %}'>タスク一覧</a>
        {% if request.user == object.client %}
        | <a href='{% url "task:update" task.pk %}'>タスクの編集</a>
        | <a href='{% url "task:delete" task.pk %}'>タスクの削除</a>
        {% endif %}
    </div>
    <dl class="row">
        <dt class="col-sm-2">経験値</dt>
        <dd class="col-sm-9">{{ task.experience_point }}</dd>
        <dt class="col-sm-2">依頼者</dt>
        <dd class="col-sm-9">{{ task.client }}</dd>
        <dt class="col-sm-2">状態</dt>
        <dd class="col-sm-9">{{ task.is_completed }}</dd>
        <dt class="col-sm-2">作成日時</dt>
        <dd class="col-sm-9">{{ task.created_at }}</dd>
        <dt class="col-sm-2">最終更新</dt>
        <dd class="col-sm-9">{{ task.updated_at }}</dd>

    </dl>
</div>
{% endblock %}