{% extends "./base.html" %}
{% block title %}タスク一覧{% endblock %}
{% block content %}
<div class="container mt-3 mb-5">
  <h1 class="display-5">タスク一覧</h1>
  {% if user.is_authenticated %}
  <div class="task-create">
    <a href='{% url "task:create" %}' class="btn btn-secondary mb-3">新しいタスクの追加</a>
  </div>
  {% endif %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
    {% for task in object_list %}
    <div class="col">
      <div class="card" style="{% if task.background_item.type == 0 %}
                background-color: {{ task.background_item.colorcode }}; 
                {% elif task.background_item.type == 1 %}
                background: linear-gradient(-135deg, {{ task.background_item.colorcode }}, {{ task.background_item.colorcode_2}} );
                {% elif task.background_item.type == 2 %}
                    background-image: url(/{{ task.background_item.image }});
                {% endif %}">
        <div class="card-body">
          <h3 class="card-title"> <a href='{% url "task:detail" task.pk %}'>{{ task.name }}</a></h3>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">依頼者
                <td>{{ task.client }}
              <tr>
                <th scope="row">作成日時
                <td>{{ task.created_at }}
              <tr>
                <th scope="row">クエストの状態
                  {% if task.is_completed %}
                <td>完了済み
                  {% else %}
                <td>未達成
                  {% endif %}
                  {% if task.is_completed %}
              <tr>
                <th scope="row">完了者
                <td>{{ task.completed_user }}
                  {% endif %}
                  {% if not task.is_completed %}
              <tr>
                <th scope="row">報酬経験値
                <td>{{ task.experience_point }}
                  {% endif %}
            </tbody>
          </table>
          {% if user.is_authenticated %}
          <div class="d-grip gap-2">
            {% if task.is_completed %}
            <a class="btn btn-warning" href='{% url "task:incomplete" task.pk %}' role="button">タスクを未完了に戻す</a>
            {% else %}
            <a class="btn btn-primary" href='{% url "task:complete" task.pk %}' role="button">タスクを完了させる</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}