{% extends "./base.html" %}
{% block title %}タスク一覧{% endblock %}
{% block content %}
<div class="container mt-3 mb-5">
    <h1 class="display-5">タスク一覧</h1>
    {% if user.is_authenticated %}
    <div class="task-create">
        <a href='{% url "task:create" %}' class="btn btn-secondary mb-3">新しいタスクの追加</a>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        {% for task in object_list %}
        <div class="col">
            <div class="card" style="{% if task.background_item.type == 0 %}
                background-color: {{ task.background_item.colorcode }}; 
                {% elif task.background_item.type == 1 %}
                background: linear-gradient(-135deg, {{ task.background_item.colorcode }}, {{ task.background_item.colorcode_2}} );
                {% elif task.background_item.type == 2 %}
                    background-image: url({{ MEDIA_URL }}{{ task.background_item.image }});
                {% endif %}">
                <div class="card-body">
                    <h3 class="card-title"> <a href='{% url "task:detail" task.pk %}'>{{ task.name }}</a></h3>
                    <table class="table">
                        <!--
                        <thead>
                            <tr>
                                <th scope="col">項目</th>
                                <th scope="col">値</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr>
                                <th scope="row">依頼者</th>
                                <td>{{ task.client }}</td>
                            </tr>
                            <tr>
                                <th scope="row">作成日時</th>
                                <td>{{ task.created_at }}</td>
                            </tr>
                            <tr>
                                <th scope="row">クエストの状態</th>
                                {% if task.is_completed %}
                                <td>完了済み</td>
                                {% else %}
                                <td>未達成</td>
                                {% endif %}
                            </tr>
                            {% if task.is_completed %}
                            <tr>
                                <th scope="row">完了者</th>
                                <td>{{ task.completed_user }}</td>
                            </tr>
                            {% endif %}
                            {% if not task.is_completed %}
                            <tr>
                                <th scope="row">報酬経験値</th>
                                <td>{{ task.experience_point }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="d-grip gap-2">
                        {% if task.is_completed %}
                        <a class="btn btn-primary" href='{% url "task:incomplete" task.pk %}'
                            role="button">タスクを未完了に戻す</a>
                        {% else %}
                        <a class="btn btn-primary" href='{% url "task:complete" task.pk %}' role="button">タスクを完了させる</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}