{% extends "./base.html" %}
{% block title %}アイテム一覧{% endblock %}
{% block content %}
<div class="container mt-3 mb-5">
  <h1 class="display-2">アイテム一覧</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">

    {% for item in object_list %}
    <div class="col">
      <div class="card">
        <div class="card-body" style="{% if item.type == 0 %}
                    background-color: {{ item.colorcode }}; 
                    {% elif item.type == 1 %}
                    background: linear-gradient(-135deg, {{ item.colorcode }}, {{ item.colorcode_2 }} );
                    {% elif item.type == 2 %}
                    background-image: url(/{{ item.image }});
                    {% endif %}">
          <h1 class="card-title">{{ item.name }}</h1>
          <p>{{ item.experience_point_cost }}ポイントで買えます</p>
          {% if user.is_authenticated %}
          <a class="btn btn-primary" href='{% url "shop:taskbg_buy" item.pk %}' role="button">購入する</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

    {% for item in bought_items %}
    <div class="col">
      <div class="card">
        <div class="card-body" style="{% if item.type == 0 %}
                    background-color: {{ item.colorcode }}; 
                    {% elif item.type == 1 %}
                    background: linear-gradient(-135deg, {{ item.colorcode }}, {{ item.colorcode_2 }} );
                    {% elif item.type == 2 %}
                    background-image: url(/{{ item.image }});
                    {% endif %}
                    opacity: 0.5;
                    ">
          <h1 class="card-title">{{ item.name }}</h1>
          <p>{{ item.experience_point_cost }}ポイントで買えます</p>
          {% if user.is_authenticated %}
          <a class="btn btn-warning" role="button">購入できません</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}